<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cuizhi.resource.mapper.ResourceChunkMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cuizhi.resource.model.po.ResourceChunk">
        <id column="id" property="id" />
        <result column="resource_id" property="resourceId" />
        <result column="chunk_no" property="chunkNo" />
        <result column="page_start" property="pageStart" />
        <result column="page_end" property="pageEnd" />
        <result column="content" property="content" />
        <result column="token_count" property="tokenCount" />
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
        <result column="deleted_at" property="deletedAt" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, resource_id, chunk_no, page_start, page_end, content, token_count, created_at, updated_at, deleted_at
    </sql>

</mapper>
